<%- model_class = Hospital -%>
<div class="page-header">
  <h1><%=t '.title', :default => Hospital %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:encrypted_password) %></th>
      <th><%= model_class.human_attribute_name(:reset_password_token) %></th>
      <th><%= model_class.human_attribute_name(:reset_password_sent_at) %></th>
      <th><%= model_class.human_attribute_name(:remember_created_at) %></th>
      <th><%= model_class.human_attribute_name(:sign_in_count) %></th>
      <th><%= model_class.human_attribute_name(:current_sign_in_at) %></th>
      <th><%= model_class.human_attribute_name(:last_sign_in_at) %></th>
      <th><%= model_class.human_attribute_name(:current_sign_in_ip) %></th>
      <th><%= model_class.human_attribute_name(:last_sign_in_ip) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.id %></td>
        <td><%= hospital.encrypted_password %></td>
        <td><%= hospital.reset_password_token %></td>
        <td><%= hospital.reset_password_sent_at %></td>
        <td><%= hospital.remember_created_at %></td>
        <td><%= hospital.sign_in_count %></td>
        <td><%= hospital.current_sign_in_at %></td>
        <td><%= hospital.last_sign_in_at %></td>
        <td><%= hospital.current_sign_in_ip %></td>
        <td><%= hospital.last_sign_in_ip %></td>
        <td><%=l hospital.created_at, format: :long %></td>
        <td>
          <%= link_to hospital_path(hospital), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to hospital_path(hospital), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_hospital_path,
            :class => 'btn btn-primary' %>
